body {
    font-family: 'sans';
    background-image: url("../images/tiger.jpg");
    background-repeat: repeat;
    color: #FFD700;
    background-size: 100%;
}
.nav { border: 1px solid orange;
background-color: orange;
color:yellow;
padding: 1px 1px;
margin-left: 1px;
text-decoration: none;
}
p {
    font-size:72px;
    font-weight: bold;
    font-family: fantasy;
    color:black;
}

.btn1 {
  background-color:gold;
  border:none;
  color:black;
  padding: 5px 10px;
  text-align:center;
  font-size: 10px;
  margin: 12px 12px;
  cursor:pointer;
  border-radius: 10px;
  transition-duration: 8s;
}

.btn2 {
  background-color:gold;
  border:none;
  color:black;
  padding: 5px 10px;
  text-align:center;
  font-size: 10px;
  margin: 12px 12px;
  cursor:pointer;
  border-radius: 10px;
  transition-duration: 8s;
}

.btn3 {
  background-color:gold;
  border:none;
  color:black;
  padding: 5px 10px;
  text-align:center;
  font-size: 10px;
  margin: 12px 12px;
  cursor:pointer;
  border-radius: 10px;
  transition-duration: 8s;
}
.btn1:hover {
    background-color: blue;
    transition-duration: 1.5s;
}

.btn2:hover {
    background-color: blue;
    transition-duration: 1.5s;
}

.btn3:hover {
  background-color: blue;
  transition-duration: 1.5s;
  
}

.common {
    font-family: 'sans';
    background-image: url(../images/tiger.jpg);
    background-repeat: repeat;
    color: #FFD700;
    background-size: 100%;
    
}
.about-us-content {
    background-color: rgba(255, 255, 255, .7);
    font-size: 50px;
    }
.common-content {
    background-color: rgba(255, 255, 255, .7);
    font-size: 50px;
}
.index-content {
    color: black;
    background-color: rgba(255, 255, 255, .7);
}
.static {
    position:absolute;
    border:3px solid yellow;
}
.text{
     position:relative;
     float:left 40px; 
}
.list {
    background-color: rgba(255, 255, 255, .7);
    color: black;
    font-size: 40px;
}